build/
Release/
Testing/
build_Xcode/
.vscode/
.dockerignore
.DS_Store
.idea/
Coverage_build/
cmake-build-debug/
docs/.DS_Store
docs/images/.DS_Store
src/.DS_Store
docs/html
docs/latex
src/include/.DS_Store
src/include/third_party/.DS_Store
vcpkg_installed/
**/__pycache__
build-docs/
